/* style.css */

:root {
  --body-bg: rgb(230, 230, 230);
  --base-item-bg: rgb(200, 200, 200);

  --vh-5-bg: rgb(210, 210, 210);
  --vh-4-bg: rgb(150, 150, 150);
  --vh-3-bg: rgb(110, 110, 110);
  --vh-2-bg: rgb(70, 70, 70);
  --vh-1-bg: rgb(30, 30, 30);
}

/* ******************** basic styling */

html {
  font-size: 10px;
}

body {
  font-size: 2rem;
  color: rgb(255, 255, 255);
  background-color: var(--body-bg);
  font-family:'Spectral',Arial, Helvetica, sans-serif
}

/* ******************** flex grid system */

.container {
  display: flex;
  flex-wrap: wrap;
}

.container > * {
  flex-grow: 1;
  box-sizing: border-box;
  padding: 1rem;
  margin:0.3rem;
 
}

.one-third,
.one-half,
.two-thirds,
.one-whole {
  background-color: var(--base-item-bg);
}

.one-third {
  flex-basis: 30%;
}

.one-half {
  flex-basis: 47%;
}

.two-thirds {
  flex-basis: 60%;
}

.one-whole {
  flex-basis: 100%;
}

/* ****************************** sections */

/* headers */

.header,
.sub-header {
  height: 17rem;
}

/* posts */

.featured-posts article {
  height: 56rem;
 
}

.featured-posts h1{
 color:black;
 font-size:3.4rem;
 padding: .3em .4em;
 line-height: 1.5em;
 text-align: center; 
}

.one-half h2 ,h1{
  color:#fff;
  font-size:3rem;
  display:inline-block;
  text-decoration: none;
}

.one-third h1{
  color: #111;
  text-decoration: none;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

.one-third h2{
  color: #111;
  text-decoration: underline;
  padding: 10px 0;
  font-size: 2rem;
  line-height: 1.5rem;
}

.curated-lists{
  margin-left: 5rem;
}
.curated-lists li{
  padding-bottom: 2.5rem;
}
.curated-lists a{
  color: #006fc6;
  font-size: 2rem;
}
.two-thirds h1, h2 ,.one-whole h2{
  font-weight: 700;
  color: #fff;
  margin: 1rem;
  font-family: Calibri Bold,AvenirNext,Avenir,-apple-system,BlinkMacSystemFont,Roboto Slab,Droid Serif,Segoe UI,Oxygen-Sans,Ubuntu,Cantarell,Georgia,serif;
  text-decoration: underline;
  padding:1rem;
  text-align: center;
}

.latest-posts article {
  height: 70rem; 
}

.community-links article {
  height: 45rem;
}

.curated-posts article {
  height: 75rem;
 
}

.see-more {
  height: 23rem;
}

/* promos */

.membership-promo {
  height: 50rem;
  
}

.conference-promo {
  height: 104rem;
 
}

.promo-book {
  height: 44rem;
  
}

.person-of-the-week {
  height: 38rem;
  
}

/* footer */

.footer {
  height: 52rem;
  
}

.footer-list{
  list-style: none;
  margin:1rem; 
}

.one-whole  h4,h5,.two-thirds h4 {
  color:#fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.2rem;
}
.footer__topics__item{
  display: inline-block;
  padding-left: 2rem;
  color: #fff;
  margin: 1rem 0;
}

.footer__topics__item a{
  color: #fff;
  font-size:1.25em;
  
}
.footer-links li{
  margin: .5em 0;
  padding: 0;
  display: inline-block;
  margin-right: 1em;
}
.footer-links a{
  color:#fff;
  text-decoration: underline;
  padding: 10px 0;
  font-size:1.5rem;
}
/* ******************** visual hierarchy */

.vh-1 {
  background-color: var(--vh-1-bg);
}

.vh-2 {
  background-color: var(--vh-2-bg);
}

.vh-3 {
  background-color: var(--vh-3-bg);
}

.vh-4 {
  background-color: var(--vh-4-bg);
}

.vh-5 {
  background-color: var(--vh-5-bg);
}

