.top-header{
  background-color: darkslategrey;
  display:flex;
  flex-direction:row;
  height:5.9rem;
}
.main{
  background-color: gray;
   margin:0 auto;
   height:50rem;
  
}
.column{
  display: inline-block;
  width: 33.3%;
  height: 18.5rem;
  margin: 0.1rem; 
  vertical-align: top;
  background-color: darkslategrey;
  padding-left: 1.5rem;
  padding-right: 1.5rem;  
}
.below-main{
  background-color: darkslategrey;
  height:12rem;
  margin:0.5rem;
}
.publications{
  display:flex;
  flex-direction:row;
  min-height:18rem;
  background-color:gray;
}
.article{
  background-color: darkslategray;
  width:33.3%;
  height:12rem;
  margin:1rem;
}
.friends-supporters{
  background-color:gray;
  height:40rem;
  display:flex;
  flex-direction: row;
  

}
.friends{
  background-color:darkslategray;
  height:38.5rem;
  width:30%;
  margin:1rem; 
  
}
.supporters{
  background-color:darkslategray;
  height:38.5rem;
  width:70%;
  margin:1rem; 
}

.article-section{
  display:flex;
  flex-direction: column;
  background-color:gray;
  height:13rem;
}
.latest-articles{
  display:flex;
  flex-direction: column;
  background-color: darkslategray;
  height: 10rem;
  margin:1rem;
}
.upcoming-section{
  display:flex;
  flex-direction: column;
  background-color:gray;
  height:40rem;
}
.upcoming{
  display:flex;
  flex-direction: column;
  background-color: darkslategray;
  height: 38rem;
  margin:1rem;
}
.publications-2{
  min-height:18rem;
  background-color:gray;
 
}
.article-2{
  background-color: darkslategray;
  display:inline-block;
  width:40.5%;
  height:15rem;
  margin:0.5rem;
}
.design{
  display:flex;
  flex-direction: column;
  background-color:gray;
  height:20rem;
}
.design-system{
  display:flex;
  flex-direction: column;
  background-color: darkslategray;
  height: 18rem;
  margin:1rem;
}
.guides{
  display:flex;
  flex-direction:row;
  min-height:40rem;
  background-color:gray;
}
.g-articles{
  background-color: darkslategray;
  width:33.3%;
  height:38rem;
  margin:1rem;
}