/* style.css */

:root {
  --body-bg: rgb(230, 230, 230);
  --base-item-bg: rgb(200, 200, 200);

  --vh-5-bg: rgb(210, 210, 210);
  --vh-4-bg: rgb(150, 150, 150);
  --vh-3-bg: rgb(110, 110, 110);
  --vh-2-bg: rgb(70, 70, 70);
  --vh-1-bg: rgb(30, 30, 30);
}

/* ******************** basic styling */

html {
  font-size: 10px;
}

body {
  font-size: 2rem;
  color: rgb(255, 255, 255);
  background-color: var(--body-bg);
}

/* ******************** flex grid system */

.container {
  display: flex;
  flex-wrap: wrap;
}

.container > * {
  flex-grow: 1;
  box-sizing: border-box;
  padding: 1rem;
  margin: 0.3rem;
}

.one-third,
.one-half,
.two-thirds,
.one-whole {
  background-color: var(--base-item-bg);
}

.one-third {
  flex-basis: 30%;
}

.one-half {
  flex-basis: 47%;
}

.two-thirds {
  flex-basis: 60%;
}

.one-whole {
  flex-basis: 100%;
}

/* ****************************** sections */

/* headers */

.header,
.sub-header {
  height: 17rem;
}

/* posts */

.featured-posts article {
  height: 56rem;
}

.latest-posts article {
  height: 70rem;
}

.community-links article {
  height: 45rem;
}

.curated-posts article {
  height: 75rem;
}

.see-more {
  height: 23rem;
}

/* promos */

.membership-promo {
  height: 50rem;
}

.conference-promo {
  height: 104rem;
}

.promo-book {
  height: 44rem;
}

.person-of-the-week {
  height: 38rem;
}

/* footer */

.footer {
  height: 52rem;
}

/* ******************** visual hierarchy */

.vh-1 {
  background-color: var(--vh-1-bg);
}

.vh-2 {
  background-color: var(--vh-2-bg);
}

.vh-3 {
  background-color: var(--vh-3-bg);
}

.vh-4 {
  background-color: var(--vh-4-bg);
}

.vh-5 {
  background-color: var(--vh-5-bg);
}

